<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <!-- For reminders -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
<!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> &lt;!&ndash; to start the alarms after restart. (By default, all alarms are canceled when a device shuts down) &ndash;&gt;-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <!-- For the Calendar events features -->

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <application
        android:name=".FiveHiltMain"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@drawable/dood_bg_ic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dood_bg_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedFive"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name=".mainscreens.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:theme="@style/Theme.FeedFive">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--         Notification For tasks and Alarm -->

        <receiver
            android:name=".util.alarmUtils.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>




        <receiver
            android:name=".util.alarmUtils.AlarmReceiver"
            android:enabled="true" />

        <receiver
            android:name=".util.alarmUtils.TaskActionButtonBroadcastReceiver"
            android:enabled="true" />

        <!-- Shortcuts for Tasks, Notes and BookMark -->

        <activity
            android:name=".inappscreens.note.service.AddNoteFromShareActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/add_note">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".inappscreens.bookmark.service.SaveBookmarkActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/save_bookmark">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>


        <activity
            android:name=".inappscreens.task.service.AddTaskFromShareActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/add_to_tasks">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>


        <!-- The Add task tile in the quick settings -->
        <service
            android:name= ".inappscreens.task.service.AddTaskTileService"
            android:exported="true"
            android:icon="@drawable/ic_check"
            android:label="@string/add_task_to_my_brain"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

<!--        &lt;!&ndash; Calendar widget&ndash;&gt;-->
<!--        <receiver-->
<!--            android:name=".inappscreens.glance_widgets.calendar.CalendarWidgetReceiver"-->
<!--            android:enabled="@bool/glance_appwidget_available"-->
<!--            android:exported="true"-->
<!--            android:label="@string/calendar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/calendar_widget_info" />-->
<!--        </receiver>-->

        <!-- For updating the events in the  calendar widget when there are changes-->
<!--        <receiver-->
<!--            android:name=".presentation.glance_widgets.RefreshCalendarWidgetReceiver"-->
<!--            android:enabled="@bool/glance_appwidget_available"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PROVIDER_CHANGED" />-->

<!--                <data android:scheme="content" />-->
<!--                <data android:host="com.android.calendar" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- Tasks widget-->
<!--        <receiver-->
<!--            android:name=".presentation.glance_widgets.TasksWidgetReceiver"-->
<!--            android:enabled="@bool/glance_appwidget_available"-->
<!--            android:exported="false"-->
<!--            android:label="@string/tasks">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/tasks_widget_info" />-->
<!--        </receiver>-->

<!--        <receiver-->
<!--            android:name=".presentation.glance_widgets.CompleteTaskWidgetReceiver"-->
<!--            android:enabled="@bool/glance_appwidget_available"-->
<!--            android:exported="false" />-->

<!--        Workmanager-->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

<!--        Firebase cloud messaging Notification -->
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_dood_space" />



    </application>

</manifest>