<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For the Calendar events features -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- For reminders -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- to start the alarms after restart. (By default, all alarms are canceled when a device shuts down) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".FiveHiltMain"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fivelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fivelogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeedFive"
        tools:targetApi="31">
        <activity
            android:name=".mainscreens.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FeedFive">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.alarmUtils.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".util.alarmUtils.AlarmReceiver"
            android:enabled="true" />

        <receiver
            android:name=".util.alarmUtils.TaskActionButtonBroadcastReceiver"
            android:enabled="true" />

    </application>

</manifest>